.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 150px;
  height: 150px;
  display:inline-block;
  background-color:#f2f2f2;
  div {
    width:100%;
  }
}
.avatar-uploader {
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
}
.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}

.info-list {
  display:flex;
  flex-wrap:wrap;
  width:66%;
  li {
    width:50%;
    margin:8px 0;
    display:flex;
    line-height:26px;
    span {
      min-width:100px;
      text-align:right;
    }
  }
}

.info-classes-table {
  width:100%;
  min-height: 100px;
  border-collapse: collapse;
  td,th {
    border: 1px solid #FFEBCE;
    text-align:center;
    padding:12px 0;
  }
  th {
    background-color: #FFEBCE;
  }
}
