.courses-table-outer {
	margin:-16px -8px;
	.courses-table {
		border-collapse: collapse;
		td {
			border-bottom:solid 1px #e9e9e9;
			border-left:solid 1px #e9e9e9;
			padding:16px;
		}
		td:first-child {
			border-left:none;
		}
		tr:last-child {
			td {
				border-bottom:none;
			}
		}
	}
}